.mui-bar-nav~.mui-content{
	background-color: #ddd!important;
	padding-bottom: 1rem;
    min-height: 100%;
}
.content-border{
    width: 85%;
    margin-top: 15%;
    margin-left: 7.5%;
    background-color: #fff;
    box-shadow: 0px 0px 8px #ccc;
}
.prompt-msg{
    height: .8rem;
    line-height: .8rem;
    padding: 0 .3rem;
    background-color: #fff;
    font-size: 0.30rem;
    border-bottom: 1px solid #E8E8E8;
    color: #333!important;
}

.inputModule .item #phone{
    background-image: url(../images/icon/phone.png);
    background-repeat: no-repeat;
    background-size: 0.55rem 0.57rem;
    background-position: 8px center;

}
.inputModule .item #phoneCode{
       width: 70%;
    background-image: url(../images/icon/check.png);
    background-repeat: no-repeat;
    background-size: 0.55rem 0.57rem;
    background-position: 8px center;

}
.user-msg{
    font-size: .3rem;
}
.user-msg p{
    color: #333!important;
    padding: 0 .3rem;
    font-size: .3rem;

}
.getCode{
    height: 0.7rem;
    line-height: 0.7rem;
    width: 1.6rem!important;
    display: inline-block;
    float: right;
    background-color: #ccc;
    color: #fff!important;
    margin-top: 0!important;
    font-size: .26rem!important;
    text-align: center;
    border-radius: .15rem;
}
.getCode.on{
    background-color: #FEA331;
}